  <body>
    <p id="notice"></p>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>リーダブルコード</td>
          <td>より良いコードを書くためのシンプルで実践的なテクニック</td>

          <td>
            <a class="show_66465" href="/books/66465">Show</a>
          </td>
          <td>
            <a class="edit_66465" href="/books/66465/edit">Edit</a>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_66465" rel="nofollow" data-method="delete" href="/books/66465">Destroy</a>
          </td>
        </tr>

        <tr>
          <td>トラブル知らずのシステム設計</td>
          <td>システム設計の要点を図解で説明してくれます</td>
          <td>
            <a class="show_66466" href="/books/66466">Show</a>
          </td>
          <td>
            <a class="edit_66466" href="/books/66466/edit">Edit</a>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_66466" rel="nofollow" data-method="delete" href="/books/66466">Destroy</a>
          </td>
        </tr>

        <tr>
          <td>たのしいRuby</td>
          <td>Rubyの入門におすすめです</td>
          <td>
            <a class="show_66467" href="/books/66467">Show</a>
          </td>
          <td>
            <a class="edit_66467" href="/books/66467/edit">Edit</a>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_66467" rel="nofollow" data-method="delete" href="/books/66467">Destroy</a>
          </td>
        </tr>

        <tr>
          <td>入門git</td>
          <td>gitについての基本操作から内部構造まで解説してくれます</td>
          <td>
            <a class="show_66468" href="/books/66468">Show</a>
          </td>
          <td>
            <a class="edit_66468" href="/books/66468/edit">Edit</a>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_66468" rel="nofollow" data-method="delete" href="/books/66468">Destroy</a>
          </td>
        </tr>

        <tr>
          <td>アルゴリズム図鑑</td>
          <td>アルゴリズムについてカラーイラストでしっかり教えてくれます</td>
          <td>
            <a class="show_66469" href="/books/66469">Show</a>
          </td>
          <td>
            <a class="edit_66469" href="/books/66469/edit">Edit</a>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_66469" rel="nofollow" data-method="delete" href="/books/66469">Destroy</a>
          </td>
        </tr>

        <tr>
          <td>達人プログラマー</td>
          <td>プログラマ入門者は必読！</td>
          <td>
            <a class="show_66470" href="/books/66470">Show</a>
          </td>
          <td>
            <a class="edit_66470" href="/books/66470/edit">Edit</a>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_66470" rel="nofollow" data-method="delete" href="/books/66470">Destroy</a>
          </td>
        </tr>

        <tr>
          <td>データベース実践入門</td>
          <td>効率的なSQL文を教えてくれます</td>
          <td>
            <a class="show_66471" href="/books/66471">Show</a>
          </td>
          <td>
            <a class="edit_66471" href="/books/66471/edit">Edit</a>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_66471" rel="nofollow" data-method="delete" href="/books/66471">Destroy</a>
          </td>
        </tr>

        <tr>
          <td>あ</td>
          <td>i</td>
          <td>
            <a class="show_66471" href="/books/66471">Show</a>
          </td>
          <td>
            <a class="edit_66475" href="/books/66475/edit">Edit</a>
          </td>
          <td>
            <a data-confirm="Are you sure?" class="destroy_66475" rel="nofollow" data-method="delete" href="/books/66475">Destroy</a>
          </td>
        </tr>
      </tbody>
    </table>
    <h2>New book</h2>
    <%= form_with model: @book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>body</h4> 
      <%= f.text_area :body %>
    <h4></h4>
      <%= f.submit 'Create Book' %>
    <% end %>
    
  </body>
</html>